<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1066621568782-6ahbbc5t1kmjim4si092tcafuu27cev1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1066621568782-6ahbbc5t1kmjim4si092tcafuu27cev1</string>
	<key>API_KEY</key>
	<string>AIzaSyDlUnbVILWgz0mM1nE9n0mC8Sx_IqnH9nU</string>
	<key>GCM_SENDER_ID</key>
	<string>1066621568782</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sylvia.chatnow</string>
	<key>PROJECT_ID</key>
	<string>chatnow-f64c8</string>
	<key>STORAGE_BUCKET</key>
	<string>chatnow-f64c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1066621568782:ios:683027f62eae4aa6</string>
	<key>DATABASE_URL</key>
	<string>https://chatnow-f64c8.firebaseio.com</string>
</dict>
</plist>